
@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display+SC&display=swap');
/* change font, edit link states, fix home image*/

body {
  font-family: "Fauna One", "Arial", "Helvetica", serif;
  line-height: 1.5;
}

h1,
h2,
h3,
nav,
footer {
  font-family: "Playfair Display SC",serif;
  font-style: normal;
}


nav {
  font-weight: bold;
}

section {
  font-family: "Fauna One", serif;
}

li {
  color: #000000;
}


h1 {
  color: #FFFFFF;
  font-size: 48px;
}
h2 {
  color: #3f2609;
}

h3 {
  color: rgb(117, 76, 41);
}

section {
  font-size: 14px;
}

footer,
footer a {
  color: #FFFFFF
}


header,
footer {
  background-color: rgb(198,156,109);
}

nav,
section {
  background-color: rgb(198,156,109);
}

nav {
  width: auto;
}

nav li {
  display: inline-block;
}

 nav a {
   background-color: rgb(198,156,109);
   padding: 10px;
   display: block;
   text-decoration: none;
 }

 nav a:link {
   color: #FFFFFF;
 }

 nav a:visited {
   color: #000000;
 }

 nav a:hover {
   background-color: #35637A;
   color: #FFFFFF;
 }

 nav a:active {
   background-color: #eee;
   color: #000000;
 }

 /*footer a:link {
   color: #FFFFFF
 }

 footer a:visited {
   color: #0096FF;
 }

 footer a:hover {
   color: rgb(207, 20, 43);
 }

 footer a:active {
   color: #00FFFF;
 }*/


nav ul {
  line-height: 2.5;
  padding-left: 0px;
  list-style-type: none;
}

#bg img {
  max-width: 100%;
  height: auto;
}

#about-image {
  float: right;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 20px;
  grid-template-areas:
  "header header"
  "nav      nav"
  "main     main"
  "footer   footer"

}

body{
	padding: 1em;
	max-width: 960px;
}

.graphics, .photo {
	display: grid;
	gap: 1em;
	margin-bottom: 1em;
}

.graphics {
	grid-template-columns: 1fr 1fr;
}

.photo {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.graphics img, .photo img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

h1,
h2,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  margin-top: 0;
  margin-bottom: 0;
}

header,
section,
footer {
  padding: 15px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
