
@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display+SC&display=swap');
/*  edit link states for pixabay*/

body {
  font-family: "Fauna One", "Arial", "Helvetica", serif;
  line-height: 1.5;
}

h1,
h2,
h3,
nav,
footer {
  font-family: "Playfair Display SC", serif;
  font-style: normal;
}


nav {
  font-weight: bold;
}

section {
  font-family: "Fauna One", serif;
}


h1 {
  color: #FFFFFF;
  font-size: 48px;
}
h2 {
  color: #3f2609;
}

h3 {
  color: rgb(117, 76, 41);
  padding-bottom: 8px;
}

section {
  font-size: 14px;
}

footer {
  color: #FFFFFF
}


header,
footer {
  background-color: rgb(198,156,109);
}

nav,
section {
  background-color: rgb(198,156,109);
}

nav {
  width: auto;
}

nav li {
  display: inline-block;
}

 nav a {
   background-color: rgb(198,156,109);
   padding: 10px;
   display: block;
   text-decoration: none;
 }

 nav a:link {
   color: #FFFFFF;
 }

 nav a:visited {
   color: #3f2609;
 }

 nav a:hover {
   background-color: #3F2609;
   color: #FFFFFF;
 }

 nav a:active {
   background-color: #eee;
   color: #8D602D;
 }

 a:link {
   color: #35637A;
 }

 a:visited {
   color: rgb(207, 20, 43);
 }

 a:hover {
   color: #0096FF;
 }

 a:active {
   color: #11303F;
 }


nav ul {
  line-height: 2.5;
  padding-left: 0px;
  list-style-type: none;
}

#bg img {
  max-width: 100%;
  height: auto;
}

#about-image {
  float: right;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
  "header header"
  "nav      nav"
  "main     main"
  "footer   footer"

}

.graphics,
.photo {
	display: grid;
	gap: 16px;
}

.graphics {
	grid-template-columns: 1fr 1fr;
}

.photo {
	grid-template-columns: 1fr 1fr;
}

.graphics img, .photo img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

.column,
.course {
  float: left;
  width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.course {
  margin-right: 45px;
}

.graphics img {
  width: 400px;
  height: 490px;
  background-color: #f8f8ff;
  padding: 19px 19px 19px 19px;
  box-shadow: 2px 2px 6px 0px;
}

#text-small {
  font-size: x-small;
}


figure{
  width: 336px;
  height: 355px;
  position: relative;
  background-color: #f8f8ff;
  padding: 19px 19px 0px 19px;
  box-shadow: 2px 2px 6px 0px;
}

figure img {
  width: 100%;
}

figure,
figcaption {
  margin-top: 0;
  margin-bottom: 0;
}


figcaption {
  font-size: small;
  margin-top: 22px;
}

h1,
h2,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  margin-top: 0;
  margin-bottom: 0;
}


header,
section,
footer {
  padding: 15px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
